Sync_E-comm_to_Salesforce/force-app/main/default/flows/AutoLaunch_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Checkout</name>
        <label>Create Checkout</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <actionName>stripeGC__v01_CreateCheckoutSessions</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <stringValue>a0201000002tnBuAAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lineItems</name>
            <value>
                <elementReference>CheckoutLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>payment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>successUrl</name>
            <value>
                <stringValue>https://example.com</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Product_Names</name>
        <label>Product Names</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ListPnames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>One</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListPnames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Two</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListPnames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Three</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListPnames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Four</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListPnames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Five</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListPnames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Six</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListPnames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Seven</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListPnames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Eight</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListPnames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Nine</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Checkout_Line_Items_For_Each_Product_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Checkout_Lines</name>
        <label>Set Checkout Lines</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CheckoutLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Checkout_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Checkout_Line_Items_For_Each_Product_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_One_Checkout_Line_Item</name>
        <label>Set One Checkout Line Item</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Checkout_Line_Item.priceData.productData.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Checkout_Line_Items_For_Each_Product_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Checkout_Line_Item.priceData.unitAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Checkout_Line_Item.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Checkout_Lines</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>AutoLaunch Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoLaunch Flow</label>
    <loops>
        <name>Create_Checkout_Line_Items_For_Each_Product_Name</name>
        <label>Create Checkout Line Items For Each Product Name</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>ListPnames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_One_Checkout_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Checkout</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_Names</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Checkout_Line_Item</name>
        <apexClass>stripeGC__CreateCheckoutSessionsReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckoutLines</name>
        <apexClass>stripeGC__CreateCheckoutSessionsReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListPnames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
