Sync_E-comm_to_Salesforce/force-app/main/default/flows/Create_Customer_MetaData.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Customer_In_Stripe</name>
        <label>Create Customer In Stripe</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>stripeGC__v01_CreateCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Account_Update_Stripe_Account_Number</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>MetaData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>create_payment</name>
        <label>create payment</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>stripeGC__v01_CreatePaymentLinks</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Account_ID_Null</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lineItems</name>
            <value>
                <elementReference>Line_Items</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Metadata</name>
        <label>Update Metadata</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>stripeGC__v01_UpdateCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ShowMetadata_is_set</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>Get_Account.AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>MetaData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>CustomerMetadata</name>
        <label>CustomerMetadata</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AddString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SF_Account_ID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StringList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StringList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Line_Item_assignment</name>
        <label>Line_Item_assignment</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineitemtwo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineitemthree</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineitemfour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineitemfive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineitemsix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineitemseven</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LineItems</name>
        <label>LineItems</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>lineItem.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1N5UjWFU9GQ52nBeluKyAjrg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemtwo.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1N5UjlFU9GQ52nBemrZukZbb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemthree.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1N5Uk2FU9GQ52nBeVPtWESGb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemfour.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1N5UkFFU9GQ52nBeA8nZRtIE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemfive.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1N5UkWFU9GQ52nBe0OSqF8IK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemsix.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1N5UoKFU9GQ52nBeXpOmwghK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemseven.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1N5UoXFU9GQ52nBeKKpb7uJH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemtwo.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemthree.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemfour.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemfive.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemsix.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineitemseven.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Line_Item_assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Account_ID_Null</name>
        <label>Has Account ID</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>ShowMetadata_is_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.AccountNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Metadata</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.AccountNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_In_Stripe</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Customer MetaData {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Customer MetaData</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomerMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MetaData_Sync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Is_Live_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update_Stripe_Account_Number</name>
        <label>Account Update Stripe Account Number</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>ShowMetadata_is_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>Create_Customer_In_Stripe.id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>MetaData_Sync</name>
        <label>MetaData_Sync</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <nextOrFinishButtonLabel>SyncData</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowMetadata_is_set</name>
        <label>ShowMetadata_is_set</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OurTest</name>
            <fieldText>&lt;p&gt;The Metadata Has Been Created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stripe_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountRecID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddString</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Line_Items</name>
        <apexClass>stripeGC__CreatePaymentLinksReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineItem</name>
        <apexClass>stripeGC__CreatePaymentLinksReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineitemfive</name>
        <apexClass>stripeGC__CreatePaymentLinksReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineitemfour</name>
        <apexClass>stripeGC__CreatePaymentLinksReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineitemseven</name>
        <apexClass>stripeGC__CreatePaymentLinksReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineitemsix</name>
        <apexClass>stripeGC__CreatePaymentLinksReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineitemthree</name>
        <apexClass>stripeGC__CreatePaymentLinksReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineitemtwo</name>
        <apexClass>stripeGC__CreatePaymentLinksReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MetaData</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StringList</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
