Sync_E-comm_to_Salesforce/force-app/main/default/flows/Stripe_Subscription_Invoice_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoice_From_Event</name>
        <label>Invoice From Event</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <actionName>stripeGC__v01_CastInvoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Current_Stripe_Customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Customer</name>
        <label>Customer</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CustomerRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Stripe_Customer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>customer_set</name>
        <label>customer_set</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CustomerRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Customer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SubID</name>
        <label>SubID</label>
        <locationX>314</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SubscriptionsID</name>
        <label>SubscriptionID</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Subscriptions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Customer_Exists</name>
        <label>Does Customer Exists</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Stripe_Customer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Stripe_Customer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription</name>
        <label>Invoice</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscriptions</name>
        <label>Subscription</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_InvSub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscriptions.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubscriptionsID</targetReference>
            </connector>
            <label>Yes_InvSub</label>
        </rules>
        <rules>
            <name>No_InvSub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscriptions.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subscriptions</targetReference>
            </connector>
            <label>No_InvSub</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Invoice_Amount_Paid</name>
        <dataType>Currency</dataType>
        <expression>Floor({!Invoice_From_Event.amountPaid} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Invoice_Amount_Remaining</name>
        <dataType>Currency</dataType>
        <expression>Floor({!Invoice_From_Event.amountRemaining} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Invoice_AmountDue</name>
        <dataType>Currency</dataType>
        <expression>Floor({!Invoice_From_Event.amountDue} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Stripe Subscription Invoice Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stripe Subscription Invoice Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>customer_set</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Invoice_From_Event.customerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_ID__c</field>
            <value>
                <elementReference>Invoice_From_Event.customer</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Invoice_AmountDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Invoice_From_Event.r_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid__c</field>
            <value>
                <elementReference>Invoice_From_Event.paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StripeID__c</field>
            <value>
                <elementReference>Invoice_From_Event.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer__c</field>
            <value>
                <elementReference>CustomerRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Subscription__c</field>
            <value>
                <elementReference>SubscriptionID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount_paid__c</field>
            <value>
                <elementReference>Invoice_Amount_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount_remaining__c</field>
            <value>
                <elementReference>Invoice_Amount_Remaining</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscriptions</name>
        <label>Create Subscription</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>SubID</targetReference>
        </connector>
        <inputAssignments>
            <field>Stripe_ID__c</field>
            <value>
                <elementReference>Invoice_From_Event.subscription</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Stripe_Customer</name>
        <label>Get Current Stripe Customer</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Customer_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice_From_Event.customer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StripeID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice_From_Event.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscriptions</name>
        <label>Get Subscription</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice_From_Event.subscription</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StripeID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Invoice_From_Event.id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Invoice_AmountDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid__c</field>
            <value>
                <elementReference>Invoice_From_Event.paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer__c</field>
            <value>
                <elementReference>CustomerRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Subscription__c</field>
            <value>
                <elementReference>SubscriptionID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount_paid__c</field>
            <value>
                <elementReference>Invoice_Amount_Paid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount_remaining__c</field>
            <value>
                <elementReference>Invoice_Amount_Remaining</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoice_From_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice.updated</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Stripe_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0201000002tnBuAAI</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
