Sync_E-comm_to_Salesforce/force-app/main/default/flows/Stripe_Subscription_Event_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Event_Subscription</name>
        <label>Event Subscription</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <actionName>stripeGC__v01_CastSubscription</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Current_Stripe_Customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Customer</name>
        <label>Customer</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CustomerRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Stripe_Customer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>customer_set</name>
        <label>customer_set</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CustomerRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Customer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Subscription</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Customer_Exists</name>
        <label>Does Customer Exists</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Stripe_Customer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Stripe_Customer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscription</name>
        <label>Subscription</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Subscription.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subscription</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Stripe Subscription Event Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stripe Subscription Event Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>customer_set</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Event_Subscription.customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_ID__c</field>
            <value>
                <elementReference>Event_Subscription.customer</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscription</name>
        <label>Create Subscription</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Ended__c</field>
            <value>
                <elementReference>Event_Subscription.endedAt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Event_Subscription.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Started__c</field>
            <value>
                <elementReference>Event_Subscription.startDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Event_Subscription.status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer__c</field>
            <value>
                <elementReference>CustomerRec</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_ID__c</field>
            <value>
                <elementReference>Event_Subscription.id</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Stripe_Customer</name>
        <label>Get Current Stripe Customer</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Customer_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Subscription.customer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription</name>
        <label>Get Subscription</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Subscription.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Event_Subscription.id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ended__c</field>
            <value>
                <elementReference>Event_Subscription.endedAt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Event_Subscription.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Started__c</field>
            <value>
                <elementReference>Event_Subscription.startDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Event_Subscription.status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer__c</field>
            <value>
                <elementReference>CustomerRec</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Subscription__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>customer.subscription.updated</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Stripe_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0201000002tnBuAAI</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CustomerRec</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
