Sync_E-comm_to_Salesforce/force-app/main/default/flows/Update_Customer_Stripe_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_From_Event</name>
        <label>Customer From Event</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <actionName>stripeGC__v01_CastCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Current_Stripe_Customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Update_Customer_Record_Values</name>
        <label>Update Customer Record Values</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Stripe_Customer.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_From_Event.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Stripe_Customer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_From_Event.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Stripe_Customer.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_From_Event.phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Stripe_Customer.Preferred_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_From_Event.r_currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Stripe_Customer.Stripe_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_From_Event.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Customer_Exists</name>
        <label>Does Customer Exists</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Stripe_Customer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Record_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Stripe_Customer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Customer Stripe Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Customer Stripe Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Customer_From_Event.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Customer_From_Event.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Customer_From_Event.phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Currency__c</field>
            <value>
                <elementReference>Customer_From_Event.r_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_ID__c</field>
            <value>
                <elementReference>Customer_From_Event.id</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Stripe_Customer</name>
        <label>Get Current Stripe Customer</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Customer_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Customer_From_Event.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer_Record</name>
        <label>Update Customer Record</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>Get_Current_Stripe_Customer</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_From_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>customer.updated</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Stripe_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0201000002tnBuAAI</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
