Stripe-QTC-Demo-Deployer/force-app/main/default/flows/Amend_Stripe_Subscription_Schedule_From_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>StripeSubscriptionScheduleUpdate_Action_1</name>
        <label>StripeSubscriptionScheduleUpdate Action 1</label>
        <locationX>770</locationX>
        <locationY>1956</locationY>
        <actionName>StripeSubscriptionScheduleUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SubSchedule</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ammendment_Date_Start</name>
            <value>
                <elementReference>AmendUNIX</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phases</name>
            <value>
                <elementReference>ListSubscriptionPhases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stripeAccountId</name>
            <value>
                <elementReference>$Record.Stripe_Customert__r.Stripe_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscription_schedule_id</name>
            <value>
                <elementReference>$Record.Opportunity_Amendment__r.Stripe_Subscription_Schedule_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StripeSubscriptionScheduleUpdate</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SubSchedule</name>
        <label>SubSchedule</label>
        <locationX>770</locationX>
        <locationY>2064</locationY>
        <actionName>stripeGC__v02_CastSubscriptionSchedule</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>SubScheduleID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v02_CastSubscriptionSchedule</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_LineItem_to_Phase</name>
        <label>Add LineItem to Phase</label>
        <locationX>990</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.automatic_tax_enabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.collection_method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>send_invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.invoice_settings_days_until_due</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.start_date_now</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>now</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.iterations</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.proration_behavior</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>create_prorations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_discount_from_array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Configure_Phase_Values</name>
        <label>Configure Phase Values</label>
        <locationX>770</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.automatic_tax_enabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.collection_method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>send_invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.invoice_settings_days_until_due</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.start_date_now</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>now</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.iterations</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.proration_behavior</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>create_prorations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionPhase.metadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubMeta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListSubscriptionPhases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubscriptionPhase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StripeSubscriptionScheduleUpdate_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_For_LineItemValues</name>
        <label>Discount For LineItemValues</label>
        <locationX>858</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>StripeLineDiscount.coupon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_or_Create_a_Stripe_Coupon.CouponID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineItem.discounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StripeLineDiscount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LineItemValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LineItemValues</name>
        <label>LineItemValues</label>
        <locationX>990</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>lineItem.SubProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Quote_Line_Items.PricebookEntry.Subscription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Quote_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineItem.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Quote_Line_Items.PricebookEntry.Stripe_Price_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineItem.SubProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Quote_Line_Items.PricebookEntry.Subscription__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_LineItem_to_Phase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_discount_from_array</name>
        <label>Remove discount from array</label>
        <locationX>990</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>lineItem.discounts</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>lineItem.discounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Subscription_Metadata</name>
        <label>Set Subscription Metadata</label>
        <locationX>770</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>SubMetaLine.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubMetaLine.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubMeta</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubMetaLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubMetaLine.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubMetaLine.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubMeta</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubMetaLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Configure_Phase_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Line_Item_Have_a_Discount</name>
        <label>Does Line Item Have a Discount</label>
        <locationX>990</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>LineItemValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Quote_Line_Items.Discount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_or_Create_a_Stripe_Coupon</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_a_Quote</name>
        <label>Has a Quote?</label>
        <locationX>462</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Has_a_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Stripe_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AmendUNIX</name>
        <dataType>Number</dataType>
        <expression>UNIXTIMESTAMP({!$Record.Amendment_Start_Time__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SubScheduleID</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;data&quot;:{&quot;object&quot;:&apos; + {!StripeSubscriptionScheduleUpdate_Action_1} + &apos;}}&apos;</expression>
    </formulas>
    <interviewLabel>Amend Stripe Subscription Schedule From Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Amend Stripe Subscription Schedule From Opportunity</label>
    <loops>
        <name>All_Quote_Line_Items</name>
        <label>All Quote Line Items</label>
        <locationX>770</locationX>
        <locationY>816</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Line_Item_Have_a_Discount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Subscription_Metadata</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>770</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>462</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Stripe_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>770</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>462</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Is_Live_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>770</locationX>
        <locationY>2172</locationY>
        <inputAssignments>
            <field>Stripe_Subscription_Schedule_ID__c</field>
            <value>
                <elementReference>SubSchedule.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Amendment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Quote</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This subflow is used to get or create a coupon in Stripe</description>
        <name>Get_or_Create_a_Stripe_Coupon</name>
        <label>Get or Create a Stripe Coupon</label>
        <locationX>858</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Discount_For_LineItemValues</targetReference>
        </connector>
        <flowName>Get_or_Create_Stripe_Coupon</flowName>
        <inputAssignments>
            <name>DiscountPercentage</name>
            <value>
                <elementReference>All_Quote_Line_Items.Discount</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>lineItem</name>
        <apexClass>StripeSubscriptionScheduleItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListSubscriptionPhases</name>
        <apexClass>StripeSubscriptionSchedulePhase</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeLineDiscount</name>
        <apexClass>StripeSubscriptionScheduleDiscount</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubMeta</name>
        <apexClass>StripeSubscriptionScheduleMetadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubMetaLine</name>
        <apexClass>StripeSubscriptionScheduleMetadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubscriptionPhase</name>
        <apexClass>StripeSubscriptionSchedulePhase</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
