Stripe-QTC-Demo-Deployer/force-app/main/default/flows/Configure_Demo_Environment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Create_Stripe_Product</name>
        <label>Create Stripe Product and Price for One Time Item</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <actionName>stripeGC__v01_CreateProducts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_Create_Product</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>active</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>defaultPriceData</name>
            <value>
                <elementReference>Product_Price_Data_2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <stringValue>Stripe Demo Product One Time Item</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <stringValue>One Time Item</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateProducts</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Create Product and Price in Stripe</description>
        <name>Create_Stripe_Product</name>
        <label>Create Monthly User Support</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>stripeGC__v01_CreateProducts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Product</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>active</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>defaultPriceData</name>
            <value>
                <elementReference>Product_Price_Data</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <stringValue>Stripe Demo Product Monthly User Support</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <stringValue>Monthly User Support</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateProducts</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Stripe_Product_and_Price_for_Gold_Subscription</name>
        <label>Create Stripe Product and Price for Gold Subscription</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <actionName>stripeGC__v01_CreateProducts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Gold_Subscription_in_Salesforce</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>active</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>defaultPriceData</name>
            <value>
                <elementReference>PriceDataThree</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <stringValue>Stripe Demo Product Gold Subscription</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <stringValue>Gold Subscription</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateProducts</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Copy_2_of_Set_Stripe_Product_Data</name>
        <label>Price Data For One Time Product</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Product_Price_Data_2.r_currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Price_Data_2.unitAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Stripe_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Data_For_Gold_Subscription</name>
        <label>Price Data For Gold Subscription</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>PriceDataThree.recurring.interval</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>month</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceDataThree.recurring.intervalCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceDataThree.r_currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceDataThree.unitAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7500.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stripe_Product_and_Price_for_Gold_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Builds Price Item for Monthly User Support</description>
        <name>Set_Stripe_Product_Data</name>
        <label>Set Monthly User Support Price</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Product_Price_Data.recurring.interval</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>month</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Price_Data.recurring.intervalCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Price_Data.r_currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Price_Data.unitAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4500.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stripe_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_a_Price_Book</name>
        <label>Has a Price Book</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Welcome_Screen_One</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_a_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceBookID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Price_Book</targetReference>
            </connector>
            <label>Has a Book</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_a_Stripe_Account</name>
        <label>Has a Stripe Account</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Welcome_Screen_One</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Screen_One</targetReference>
            </connector>
            <label>Has Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Configure Demo Environment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Configure Demo Environment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Standard_Price</name>
        <label>Create Standard Price For One Time Product</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Copy_1_of_PriceBook_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>get_Standard_Price_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_PriceBook_Entry</name>
        <label>Create PriceBook Entry For One Time Item</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Price_Data_For_Gold_Subscription</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Price_ID__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Stripe_Product.defaultPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Product</name>
        <label>Create One Time Product in Salesforce</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignRecordIdToReference>ProductID</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Create_Standard_Price</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Stripe Demo Product One Time Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisplayUrl</field>
            <value>
                <stringValue>https://google.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId</field>
            <value>
                <elementReference>Copy_1_of_Create_Stripe_Product.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSerialized</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>One Time Item</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Gold_Subscription_in_Salesforce</name>
        <label>Create Gold Subscription in Salesforce</label>
        <locationX>50</locationX>
        <locationY>2186</locationY>
        <assignRecordIdToReference>productID2</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Standard_Price_For_Gold_Subscription</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Stripe Demo Product Gold Subscription</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisplayUrl</field>
            <value>
                <stringValue>https://google.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId</field>
            <value>
                <elementReference>Create_Stripe_Product_and_Price_for_Gold_Subscription.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSerialized</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Gold Subscription</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Book</name>
        <label>Create Price Book</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>PriceBookID</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Stripe_Product_Data</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Price Book for the Stripe Demo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Stripe Demo</stringValue>
            </value>
        </inputAssignments>
        <object>Pricebook2</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PriceBook_Entry_For_Gold_Subscription</name>
        <label>Create PriceBook Entry For Gold Subscription</label>
        <locationX>50</locationX>
        <locationY>2402</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_2_of_Welcome_Screen_One</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>productID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Price_ID__c</field>
            <value>
                <elementReference>Create_Stripe_Product_and_Price_for_Gold_Subscription.defaultPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>75.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Product</name>
        <label>Create Monthly User Support Product In Salesforce</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>ProductID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Standard_Price</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Stripe Demo Product Monthly User Support</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisplayUrl</field>
            <value>
                <stringValue>https://google.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExternalId</field>
            <value>
                <elementReference>Create_Stripe_Product.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSerialized</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Monthly User Support</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Price</name>
        <label>Create Standard Price For Monthly User Support</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>PriceBook_Entry</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>get_Standard_Price_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Price_For_Gold_Subscription</name>
        <label>Create Standard Price For Gold Subscription</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>Create_PriceBook_Entry_For_Gold_Subscription</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>get_Standard_Price_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>productID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>75.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PriceBook_Entry</name>
        <label>PriceBook Entry For Monthly User Support</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Copy_2_of_Set_Stripe_Product_Data</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Price_ID__c</field>
            <value>
                <elementReference>Create_Stripe_Product.defaultPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_Book</name>
        <label>Get Price Book</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stripe Demo</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>PriceBookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Standard_Price_Book</name>
        <label>get Standard Price Book</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_Stripe_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Is_Live_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Welcome_Screen_One</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Copy 2 of Welcome Screen One</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Welcome_Screen_One_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_2_of_Welcome_Screen_One_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Copy_1_of_Copy_3_of_Welcome_Text_Screen_One</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Progress:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Demo has already been configured.... &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Exit Demo Config</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Copy_2_of_Welcome_Screen_One</name>
        <label>Copy 1 of Copy 1 of Copy 2 of Welcome Screen One</label>
        <locationX>50</locationX>
        <locationY>2510</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_1_of_Copy_2_of_Welcome_Screen_One_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Copy_1_of_Copy_2_of_Welcome_Screen_One_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Copy_3_of_Welcome_Text_Screen_One</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Progress:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Checking Stripe Account..... Done&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Creating Price Book .... Done&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Creating Products......... Done &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Configuration Finished&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Exit Demo Config</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Welcome_Screen_One</name>
        <label>Welcome Screen No Account</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Welcome_Screen_One_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Welcome_Screen_One_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Welcome_Text_Screen_One</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;You Must Add a Stripe Account before you can configure. &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Configure Demo Environment</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen_One</name>
        <label>Welcome Screen One</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Standard_Price_Book</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_One_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Welcome_Screen_One_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Welcome_Text_Screen_One</name>
                    <fieldText>&lt;p&gt;Click the Button to Configure your Demo Environment. This will ensure you have the products and Prices for the Connector to leverage as part of the Demo. &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Configure Demo Environment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stripe_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PriceDataThree</name>
        <apexClass>stripeGC__CreateProductsReqDefaultPriceData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product_Price_Data</name>
        <apexClass>stripeGC__CreateProductsReqDefaultPriceData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product_Price_Data_2</name>
        <apexClass>stripeGC__CreateProductsReqDefaultPriceData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productID2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
