Stripe-QTC-Demo-Deployer/force-app/main/default/flows/Create_Invoice_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Stripe_Invoice</name>
        <label>Stripe Invoice</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>stripeGC__v02_CastInvoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Stripe_Customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v02_CastInvoice</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>amountdue</name>
        <dataType>Currency</dataType>
        <expression>{!Stripe_Invoice.amountDue} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>amountpaid</name>
        <dataType>Currency</dataType>
        <expression>{!Stripe_Invoice.amountPaid} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>total</name>
        <dataType>Currency</dataType>
        <expression>{!Stripe_Invoice.total} / 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Invoice Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Stripe_Customer.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Due__c</field>
            <value>
                <elementReference>amountdue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Stripe_Invoice.r_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StripeID__c</field>
            <value>
                <elementReference>Stripe_Invoice.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer_ID__c</field>
            <value>
                <elementReference>Stripe_Invoice.customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer__c</field>
            <value>
                <elementReference>Get_Stripe_Customer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_currency__c</field>
            <value>
                <elementReference>Stripe_Invoice.r_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_subscription_ID__c</field>
            <value>
                <elementReference>Stripe_Invoice.subscription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>amount_paid__c</field>
            <value>
                <elementReference>Stripe_Invoice.amountPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>collection_method__c</field>
            <value>
                <elementReference>Stripe_Invoice.collectionMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>description__c</field>
            <value>
                <elementReference>Stripe_Invoice.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>invoice_number__c</field>
            <value>
                <elementReference>Stripe_Invoice.r_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>invoice_pdf_url__c</field>
            <value>
                <elementReference>Stripe_Invoice.invoicePdf</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>payment_hosted_invoice_url__c</field>
            <value>
                <elementReference>Stripe_Invoice.hostedInvoiceUrl</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>status__c</field>
            <value>
                <elementReference>Stripe_Invoice.status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>total__c</field>
            <value>
                <elementReference>total</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Stripe_Customer</name>
        <label>Get Stripe Customer</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Stripe_Invoice.customer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stripe_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice.created</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
