Stripe-QTC-Demo-Deployer/force-app/main/default/flows/Create_Stripe_Subscription_Records_From_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Stripe_Subscription</name>
        <label>Stripe Subscription</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <actionName>stripeGC__v02_CastSubscription</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Metadata_Array</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v02_CastSubscription</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Metadata_Array</name>
        <label>Metadata Array</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>MetaDataLines</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Subscription.metadata.listAdditionalStringField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Metadata_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_ID_Set</name>
        <label>Opportunity ID Set</label>
        <locationX>572</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>OpportunityID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Metadata_Loop.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Metadata_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subscription_Assignment</name>
        <label>Subscription Assignment</label>
        <locationX>484</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>Subscription_Record.description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Subscription.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Subscription.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Record.pause_collection_behavior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Subscription.pauseCollection.behavior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Record.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Subscription.status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Record.Stripe_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Record.Stripe_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stripe_Customer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Record.Stripe_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Subscription.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Record.Subscription_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Subscription.r_currency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Record</name>
        <label>Has Record</label>
        <locationX>484</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Update_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Record_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Subscription_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subscription</targetReference>
            </connector>
            <label>Has Record No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Name</name>
        <label>Opportunity Name</label>
        <locationX>704</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Metadata_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Name_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Metadata_Loop.key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_ID_Set</targetReference>
            </connector>
            <label>Opportunity Name</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Stripe Subscription Records From Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Stripe Subscription Records From Event</label>
    <loops>
        <name>Metadata_Loop</name>
        <label>Metadata Loop</label>
        <locationX>484</locationX>
        <locationY>492</locationY>
        <collectionReference>MetaDataLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunity_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Stripe_Customer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Subscription</name>
        <label>Create Subscription</label>
        <locationX>352</locationX>
        <locationY>1524</locationY>
        <inputReference>Subscription_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>484</locationX>
        <locationY>1092</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Customer</name>
        <label>Get Stripe Customer</label>
        <locationX>484</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Stripe_Subscription.customer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Subscription_Record</name>
        <label>Subscription Record</label>
        <locationX>484</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscription_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Stripe_Subscription.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>616</locationX>
        <locationY>1524</locationY>
        <inputReference>Subscription_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>customer.subscription</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Stripe_Subscription</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MetaDataLines</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
