Stripe-QTC-Demo-Deployer/force-app/main/default/flows/Stripe_Products_created_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cast_To_product</name>
        <label>Cast To product</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <actionName>stripeGC__v01_CastProduct</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Stripe_Product</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastProduct</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Product_New_or_Update</name>
        <label>Product New or Update</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>url_for_stripe</name>
        <dataType>String</dataType>
        <expression>&apos;https://dashboard.stripe.com/test/products/&apos; + {!Cast_To_product.id}</expression>
    </formulas>
    <interviewLabel>Stripe Products created updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stripe Products created updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product</name>
        <label>Create Product</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Cast_To_product.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Account__c</field>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_ID__c</field>
            <value>
                <elementReference>Cast_To_product.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_URL__c</field>
            <value>
                <elementReference>url_for_stripe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>description__c</field>
            <value>
                <elementReference>Cast_To_product.description</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Stripe_Product</name>
        <label>Get Stripe Product</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_New_or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cast_To_product.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cast_To_product.id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Cast_To_product.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Account__c</field>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_URL__c</field>
            <value>
                <elementReference>url_for_stripe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>description__c</field>
            <value>
                <elementReference>Cast_To_product.description</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Product__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cast_To_product</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>product.created</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>product.deleted</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>product.updated</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
