Stripe-QTC-Demo-Deployer/force-app/main/default/flows/Sync_Stripe_Prices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cast_to_Stripe_Price</name>
        <label>Cast to Stripe Price</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <actionName>stripeGC__v02_CastPrice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Stripe_Price</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v02_CastPrice</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Create_Values</name>
        <label>Set Create Values</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.nickname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.nickname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.nickname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.recurring_aggregate_usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.recurring.aggregateUsage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.recurring_interval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.recurring.interval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.recurring_interval_count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.recurring.intervalCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.recurring_usage_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.recurring.usageType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.Stripe_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.r_currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.Stripe_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.unit_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.unitAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.Stripe_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Update_Values</name>
        <label>Set Update Values</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.nickname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.nickname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.nickname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.recurring_aggregate_usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.recurring.aggregateUsage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.recurring_interval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.recurring.interval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.recurring_interval_count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.recurring.intervalCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.recurring_usage_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.recurring.usageType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.Stripe_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.r_currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.Stripe_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.unit_amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.unitAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price.Stripe_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Price</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Stripe_Price_Update</name>
        <label>Stripe Price Update</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Price.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Update_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Price.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Create_Values</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Stripe Prices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Stripe Prices</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Price</name>
        <label>Create Price</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Stripe_Price</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Stripe_Price</name>
        <label>Get Stripe Price</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stripe_Price_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cast_to_Stripe_Price.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Price</name>
        <label>Update Price</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Stripe_Price</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cast_to_Stripe_Price</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>price.created</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>price.updated</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
