Payments-On-Every-Surface/force-app/main/default/flows/Process_Stripe_Payment_Example_Webhooks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Checkout_Session</name>
        <label>Checkout Session</label>
        <locationX>798</locationX>
        <locationY>384</locationY>
        <actionName>stripeGC__v01_CastCheckoutSession</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Payment_Link</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastCheckoutSession</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Payment_Intent_object</name>
        <label>Payment Intent</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>stripeGC__v01_CastPaymentIntent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetPaymentIntentMetaData</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastPaymentIntent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Stripe_Invoice</name>
        <label>Stripe Invoice</label>
        <locationX>1678</locationX>
        <locationY>384</locationY>
        <actionName>stripeGC__v01_CastInvoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>InvoicePaymentType</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastInvoice</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_1_of_PaymentTypeCheckout</name>
        <label>Checkout Payment Data</label>
        <locationX>798</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>PaymentIntentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkout_Session.paymentIntent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RawAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkout_Session.amountTotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stripe_Payment_Intent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetPaymentIntentMetaData</name>
        <label>GetPaymentIntentMetaData</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>PaymentMetaData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Intent_object.metadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListMetaDataString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentMetaData.listAdditionalStringField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PaymentIntent_Metadata_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InvoiceOrderIDSet</name>
        <label>InvoiceOrderIDSet</label>
        <locationX>1766</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>OrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvoiceMetaDataLoop.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InvoiceMetaDataLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InvoicePaymentType</name>
        <label>InvoicePaymentType</label>
        <locationX>1678</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>PaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentMetaData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.metadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListMetaDataString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentMetaData.listAdditionalStringField</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InvoiceMetaDataLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaymentIntentOID</name>
        <label>PaymentIntentOID</label>
        <locationX>138</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>OrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentIntent_Metadata_Loop.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PaymentIntent_Metadata_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaymentIntentPT</name>
        <label>PaymentIntentPT</label>
        <locationX>402</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>PaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentIntent_Metadata_Loop.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PaymentIntent_Metadata_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaymentType_Assignment</name>
        <label>PaymentType Assignment</label>
        <locationX>534</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>PaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PaymentLink</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Link No Order ID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_PaymentTypeCheckout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PaymentTypeCheckout</name>
        <label>PaymentTypeCheckout</label>
        <locationX>798</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>PaymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Checkout</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentMetaData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkout_Session.metadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListMetaDataString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentMetaData.listAdditionalStringField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Checkout_Session.clientReferenceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_PaymentTypeCheckout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInvoiceVars</name>
        <label>SetInvoiceVars</label>
        <locationX>1678</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>RawAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentIntentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.paymentIntent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stripe_Payment_Intent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPaymentIntentVars</name>
        <label>SetPaymentIntentVars</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>PaymentIntentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Intent_object.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RawAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Intent_object.amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_MetaDataSet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_MetaDataSet</name>
        <label>Has MetaDataSet</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MDSET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Stripe_Payment_Intent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoMDSET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>InvoiceOrderIDCheck</name>
        <label>InvoiceOrderIDCheck</label>
        <locationX>1898</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>InvoiceMetaDataLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Invoice_Order_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceMetaDataLoop.key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvoiceOrderIDSet</targetReference>
            </connector>
            <label>Found Invoice Order ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>MetaDataFindPaymentIntent</name>
        <label>MetaDataFindPaymentIntent</label>
        <locationX>402</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>PaymentIntent_Metadata_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderIDPaymentIntent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentIntent_Metadata_Loop.key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentIntentOID</targetReference>
            </connector>
            <label>OrderIDPaymentIntent</label>
        </rules>
        <rules>
            <name>PaymentTypePaymentIntent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PaymentIntent_Metadata_Loop.key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PaymentType</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentIntentPT</targetReference>
            </connector>
            <label>PaymentTypePaymentIntent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_For_Payment_Type</name>
        <label>Path For Payment Type</label>
        <locationX>996</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Intent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>payment_intent.succeeded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Intent_object</targetReference>
            </connector>
            <label>Payment Intent</label>
        </rules>
        <rules>
            <name>Checkout</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>checkout.session.completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>checkout.session.async_payment_succeeded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkout_Session</targetReference>
            </connector>
            <label>Checkout</label>
        </rules>
        <rules>
            <name>invoice_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>invoice.paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stripe_Invoice</targetReference>
            </connector>
            <label>invoice paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Link</name>
        <label>Payment Link</label>
        <locationX>798</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkout_Session.paymentLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentType_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkout_Session.paymentLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentTypeCheckout</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <expression>{!RawAmount} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentIntentDashboardLink</name>
        <dataType>String</dataType>
        <expression>&apos;https://dashboard.stripe.com/test/payments/&apos; + {!PaymentIntentID}</expression>
    </formulas>
    <interviewLabel>Process Stripe Payment Example Webhooks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Stripe Payment Example Webhooks</label>
    <loops>
        <name>InvoiceMetaDataLoop</name>
        <label>InvoiceMetaDataLoop</label>
        <locationX>1678</locationX>
        <locationY>600</locationY>
        <collectionReference>ListMetaDataString</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>InvoiceOrderIDCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetInvoiceVars</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PaymentIntent_Metadata_Loop</name>
        <label>PaymentIntent Metadata Loop</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <collectionReference>ListMetaDataString</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MetaDataFindPaymentIntent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetPaymentIntentVars</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Stripe_Payment_Intent</name>
        <label>Create Stripe Payment Intent</label>
        <locationX>996</locationX>
        <locationY>1584</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PaymentIntentID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderID__c</field>
            <value>
                <elementReference>OrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentType__c</field>
            <value>
                <elementReference>PaymentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Dashboard__c</field>
            <value>
                <elementReference>PaymentIntentDashboardLink</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_PaymentIntent_ID__c</field>
            <value>
                <elementReference>PaymentIntentID</elementReference>
            </value>
        </inputAssignments>
        <object>Demo_Stripe_Example_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1475</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Path_For_Payment_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice.paid</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>payment_intent.succeeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>checkout.session.completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>checkout.session.async_payment_succeeded</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_InvoiceMetaDataOrderID</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_MetaDataOrderID</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_PaymentIntentMetadataOrderID_0</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_PaymentIntentMetaDataPaymentType</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListMetaDataString</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentIntentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentMetaData</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RawAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
