Payments-On-Every-Surface/force-app/main/default/flows/Stripe_Payments_Examples.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_MetaData_to_Invoice</name>
        <label>Add MetaData to Invoice</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <actionName>stripeGC__v01_UpdatePaymentIntents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Pay_Invoice</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intent</name>
            <value>
                <elementReference>Finalize_Invoice.paymentIntent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>PL_MetaData</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_UpdatePaymentIntents</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_a_Payment_Intent</name>
        <label>Create a Payment Intent</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>stripeGC__v01_CreatePaymentIntents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>clientSec</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>automaticPaymentMethods</name>
            <value>
                <elementReference>PaymentFlowsAutomaticPmsPi</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>MetaData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreatePaymentIntents</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_a_Payment_Intent_For_Terminal</name>
        <label>Create a Payment Intent For Terminal</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <actionName>stripeGC__v01_CreatePaymentIntents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Payment_To_Reader</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>MetaData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethodTypes</name>
            <value>
                <elementReference>pmtypes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreatePaymentIntents</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Checkout</name>
        <label>Create Checkout</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>stripeGC__v01_CreateCheckoutSessions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Checkout_URL</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>clientReferenceId</name>
            <value>
                <elementReference>Order_ID_Checkout</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lineItems</name>
            <value>
                <elementReference>ArrayofCheckoutLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>payment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>successUrl</name>
            <value>
                <stringValue>https://stripe.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateCheckoutSessions</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Invoice_Items</name>
        <label>Create Invoice Items</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <actionName>stripeGC__v01_CreateInvoiceitems</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finalize_Invoice</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>Stripe_Customer_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <stringValue>Example Product Line Item</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>Create_Stripe_Invoice.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateInvoiceitems</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Stripe_Invoice</name>
        <label>Create Stripe Invoice</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <actionName>stripeGC__v01_CreateInvoices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Invoice_Items</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>collectionMethod</name>
            <value>
                <stringValue>send_invoice</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>Stripe_Customer_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysUntilDue</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <stringValue>Example Payment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>PL_MetaData</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateInvoices</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Finalize_Invoice</name>
        <label>Finalize Invoice</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <actionName>stripeGC__v01_PostInvoicesFinalize</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_MetaData_to_Invoice</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>autoAdvance</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>Create_Stripe_Invoice.id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_PostInvoicesFinalize</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Payment_To_Reader</name>
        <label>Send Payment To Reader</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <actionName>stripeGC__v01_PostTerminalReadersProcPaymentIntent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>card_scanned</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentIntent</name>
            <value>
                <elementReference>Create_a_Payment_Intent_For_Terminal.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reader</name>
            <value>
                <elementReference>Terminal_Reader_ID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_PostTerminalReadersProcPaymentIntent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Checkout_URL</name>
        <label>Checkout URL</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>checkoutURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Checkout.url</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pay_now_checkout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clientSec</name>
        <label>clientSec</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>clientSecret</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Payment_Intent.clientSecret</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stripe_Payment_Page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Checkout_Line_Items</name>
        <label>Create Checkout Line Items</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>checkoutLine.adjustableQuantity.enabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkoutLine.priceData.productData.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Our Test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkoutLine.priceData.productData.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkoutLine.priceData.r_currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkoutLine.priceData.unitAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checkoutLine.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ArrayofCheckoutLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>checkoutLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_ID_Checkout</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MetaDataAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PaymentType</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Checkout</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MetaDataAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checkout_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>payment_method_types</name>
        <label>payment method types</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>pmtypes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>card_present</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PaymentType</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Terminal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MetaDataAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_ID_Terminal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MetaDataAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Payment_Intent_For_Terminal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Automatic_Payment_Methods</name>
        <label>Set Automatic Payment Methods And MetaData</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>PaymentFlowsAutomaticPmsPi.enabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MetaDataAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PaymentType</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaDataAdditionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment Element</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MetaDataAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Payment_Intent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_ID_and_Invoice_Settings</name>
        <label>Set Order ID and Invoice Settings</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>PL_Metadata_additionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderID</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PL_Metadata_additionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_ID_Invoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PL_MetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PL_Metadata_additionalString</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PL_Metadata_additionalString.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PaymentType</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PL_Metadata_additionalString.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PL_MetaData.listAdditionalStringField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PL_Metadata_additionalString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stripe_Invoice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CardSuccess</name>
        <choiceText>Simulate a Successful Card</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4242424242424242</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeclineCard</name>
        <choiceText>Simulates a Card that is Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4000000000000002</stringValue>
        </value>
    </choices>
    <choices>
        <name>FlatTheme</name>
        <choiceText>&lt;strong&gt;Flat&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>flat</stringValue>
        </value>
    </choices>
    <choices>
        <name>NightTheme</name>
        <choiceText>&lt;strong&gt;Night&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>night</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaymentCheckout</name>
        <choiceText>&lt;a href=&quot;https://stripe.com/docs/payments/checkout&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Pay using Stripe Checkout.&lt;/a&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checkout</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaymentElement</name>
        <choiceText>&lt;a href=&quot;https://stripe.com/docs/payments/payment-element&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;Pay Using a Stripe Payment Element.&lt;/a&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PaymentElement</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaymentElementMoto</name>
        <choiceText>Payment Element Using Moto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PaymentElementMoto</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaymentExpressCheckout</name>
        <choiceText>&lt;a href=&quot;https://stripe.com/docs/elements/express-checkout-element&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Pay using Stripe Express Checkout.&lt;/a&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ExpressCheckout</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaymentInvoice</name>
        <choiceText>&lt;a href=&quot;https://stripe.com/docs/invoicing/hosted-invoice-page&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Pay using Stripe Invoice.&lt;/a&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>InvoicePayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaymentPaymentLink</name>
        <choiceText>&lt;a href=&quot;https://stripe.com/docs/payment-links&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Pay using a Stripe Payment Link.&lt;/a&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PayLinkPayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaymentTerminal</name>
        <choiceText>&lt;a href=&quot;https://stripe.com/docs/terminal&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Pay using Stripe Terminal.&lt;/a&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TerminalPayment</stringValue>
        </value>
    </choices>
    <choices>
        <name>StripeTheme</name>
        <choiceText>&lt;strong&gt;Stripe&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>stripe</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Payment_Type</name>
        <label>Payment Type</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Element</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Payment_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentElement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Values</targetReference>
            </connector>
            <label>Payment Element</label>
        </rules>
        <rules>
            <name>Payment_Checkout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Payment_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentCheckout</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Checkout_Line_Items</targetReference>
            </connector>
            <label>Payment Checkout</label>
        </rules>
        <rules>
            <name>Payment_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Payment_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentPaymentLink</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentLink</targetReference>
            </connector>
            <label>Payment Link</label>
        </rules>
        <rules>
            <name>Payment_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Payment_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentInvoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Payment</targetReference>
            </connector>
            <label>Payment Invoice</label>
        </rules>
        <rules>
            <name>Payment_Terminal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Payment_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymentTerminal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terminal_Process</targetReference>
            </connector>
            <label>Payment Terminal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BodyForSimTermTestSuccess</name>
        <dataType>String</dataType>
        <expression>&apos;reader = &apos; + {!TerminalReaderID} + &apos; &amp; card_present[number] = &apos; + {!CardSuccess} + &apos; &amp; type = card_present&apos;</expression>
    </formulas>
    <formulas>
        <name>BodyTermPaymentDecline</name>
        <dataType>String</dataType>
        <expression>&apos;reader = &apos; + {!TerminalReaderID} + &apos; &amp; card_present[number] = &apos; + {!DeclineCard} + &apos; &amp; type = card_present&apos;</expression>
    </formulas>
    <formulas>
        <name>postterminalurl</name>
        <dataType>String</dataType>
        <expression>&apos;https://api.stripe.com/v1/test_helpers/terminal/readers/&apos; + {!TerminalReaderID} +&apos;/present_payment_method&apos;</expression>
    </formulas>
    <interviewLabel>Stripe Payments Examples {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stripe Payments Examples</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Is_Live_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>card_scanned</name>
        <label>card scanned</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <nextOrFinishButtonLabel>Card was scanned</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Checkout_Order</name>
        <label>Checkout Order</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Checkout</targetReference>
        </connector>
        <fields>
            <name>Order_ID_Checkout</name>
            <dataType>String</dataType>
            <fieldText>Order ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Generate Checkout</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invoice_Payment</name>
        <label>Invoice Payment</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Order_ID_and_Invoice_Settings</targetReference>
        </connector>
        <fields>
            <name>Order_ID_Invoice</name>
            <dataType>String</dataType>
            <fieldText>Order ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stripe_Customer_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>example:cust_12345678</stringValue>
            </defaultValue>
            <fieldText>Stripe Customer ID</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;From The Stripe Dashboard create a customer or select a customer and copy the customer ID.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://customer-momentum-4913-dev-ed.scratch.file.force.com/sfc/servlet.shepherd/version/download/068O9000000AIOf?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Screenshot 2023-10-04 at 1.07.05 PM.png&quot;&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Generate Invoice</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pay_Invoice</name>
        <label>Pay Invoice</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>invoiceURL</name>
            <extensionName>c:stripeURLOpener</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>Finalize_Invoice.hostedInvoiceUrl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finished Payment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>pay_now_checkout</name>
        <label>pay now checkout</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OpenPayment</name>
            <extensionName>c:stripeURLOpener</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>checkoutURL</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finished Payment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pay_now_Paymentlink</name>
        <label>Pay now Paymentlink</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PaymentLinkURL</name>
            <extensionName>c:stripeURLOpener</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>Enter_Payment_Link_URL</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finished Payment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PaymentLink</name>
        <label>PaymentLink</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pay_now_Paymentlink</targetReference>
        </connector>
        <fields>
            <name>PaymentLinkStart</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://business-velocity-9529-dev-ed.scratch.file.force.com/sfc/servlet.shepherd/version/download/068E2000000kwFV?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Stripe icon - circle-300x300-7399352.jpg&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Welcome to The Payment Tester using the Stripe for Salesforce Platform.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To Use this sample &lt;a href=&quot;https://stripe.com/docs/payment-links/create&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;create a Payment Link &lt;/a&gt;in your Stripe Dashboard. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Payment_Link_URL</name>
            <dataType>String</dataType>
            <fieldText>Enter Payment Link URL</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Generate Payment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_Type</name>
        <label>Select Payment Type</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Stripe_Account</targetReference>
        </connector>
        <fields>
            <name>Select_Payment_Button</name>
            <choiceReferences>PaymentElement</choiceReferences>
            <choiceReferences>PaymentCheckout</choiceReferences>
            <choiceReferences>PaymentInvoice</choiceReferences>
            <choiceReferences>PaymentTerminal</choiceReferences>
            <choiceReferences>PaymentPaymentLink</choiceReferences>
            <choiceReferences>PaymentExpressCheckout</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Payment Button</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Make Payment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Payment_Values</name>
        <label>Set Payment Values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Automatic_Payment_Methods</targetReference>
        </connector>
        <fields>
            <name>OrderID</name>
            <dataType>String</dataType>
            <fieldText>OrderID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stripe_Public_Key</name>
            <dataType>String</dataType>
            <fieldText>Stripe Public Key</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Theme</name>
            <choiceReferences>StripeTheme</choiceReferences>
            <choiceReferences>NightTheme</choiceReferences>
            <choiceReferences>FlatTheme</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Theme</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>themecheck</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Stripe&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://customer-momentum-4913-dev-ed.scratch.file.force.com/sfc/servlet.shepherd/version/download/068O9000000AIJp?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;stripe.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Dark&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://customer-momentum-4913-dev-ed.scratch.file.force.com/sfc/servlet.shepherd/version/download/068O9000000AILR?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;dark.png&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;Flat&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 10px;&quot;&gt;﻿&lt;/strong&gt;&lt;img src=&quot;https://customer-momentum-4913-dev-ed.scratch.file.force.com/sfc/servlet.shepherd/version/download/068O9000000AIN3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;flat.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stripe_Payment_Page</name>
        <label>Stripe Payment Page</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Stripe_Payment</name>
            <extensionName>c:stripePayment</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ClientSecret</name>
                <value>
                    <elementReference>clientSecret</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>PublicKey</name>
                <value>
                    <elementReference>Stripe_Public_Key</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>theme</name>
                <value>
                    <elementReference>Select_Theme</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>See Transaction</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Terminal_Process</name>
        <label>Terminal Process</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>payment_method_types</targetReference>
        </connector>
        <fields>
            <name>TerminalLog</name>
            <fieldText>&lt;p&gt;Terminal Testing requires you to have a terminal device connected to your Instance. This can any of the server side terminals. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Terminal_Reader_ID</name>
            <dataType>String</dataType>
            <fieldText>Terminal Reader ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Order_ID_Terminal</name>
            <dataType>String</dataType>
            <fieldText>Order ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>I have a terminal Connected</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Payment_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ArrayofCheckoutLines</name>
        <apexClass>stripeGC__CreateCheckoutSessionsReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutLine</name>
        <apexClass>stripeGC__CreateCheckoutSessionsReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clientSecret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatePaymentIntentsReqPMO</name>
        <apexClass>stripeGC__CreatePaymentIntentsReqPMO</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Terminals_0</name>
        <apexClass>stripeGC__TerminalReader</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceSettings</name>
        <apexClass>stripeGC__CreateInvoicesReqPaymentSettings</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MetaData</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MetaDataAdditionalString</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentFlowsAutomaticPmsPi</name>
        <apexClass>stripeGC__PaymentFlowsAutomaticPmsPi</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentmethodtypes</name>
        <apexClass>stripeGC__CreatePisReqPMOCardPresent</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PL_MetaData</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PL_Metadata_additionalString</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PMOptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pmtypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostTermrxProcPiReqProcConfig</name>
        <apexClass>stripeGC__PostTermrxProcPiReqProcConfig</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TermAddressLocation</name>
        <apexClass>stripeGC__Address</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerminalReaderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TermLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Perform An Action to see the logs of that Action Here....</stringValue>
        </value>
    </variables>
    <variables>
        <name>termpiconfig</name>
        <apexClass>stripeGC__PostTermrxProcPiReqProcConfig</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
