DeployTest-Auto/force-app/main/default/flows/Create_Stripe_Product_and_Prices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_Price_Book_Entry_Data</name>
        <label>Copy 1 of Set Price Book Entry Data</label>
        <locationX>490</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stripe_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.Stripe_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Price_Book_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Product_Data</name>
        <label>Create Product Data</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Get_Salesforce_Product.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_Product__r.description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Salesforce_Product.ExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_Product__r.Stripe_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Salesforce_Product.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Salesforce_Product.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Price_Book_Data</name>
        <label>Price Book Data</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price_Book.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demo Stripe Price Book</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price_Book.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price_Book.IsStandard</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Price_Book.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Stripe Demo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Price_Book_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Price_Book_Entry_Data</name>
        <label>Set Price Book Entry Data</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stripe_Price_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Salesforce_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.Stripe_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Price_Book_Entry.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Book_Entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Product</name>
        <label>Has Product</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Stripe_Price_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesforce_Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Data</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Stripe_Price_Book</name>
        <label>Has Stripe Price Book</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Price_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Price_Book.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Book_Data</targetReference>
            </connector>
            <label>No Price Book</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UnitAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.unit_amount__c} / 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create Stripe Product and Prices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Stripe Product and Prices</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Price_Book_Entry</name>
        <label>Copy 1 of Create Price Book Entry</label>
        <locationX>490</locationX>
        <locationY>1571</locationY>
        <inputReference>Get_Price_Book_Entry</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Price_Book_Entry</name>
        <label>Create Price Book Entry</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <inputReference>Get_Price_Book_Entry</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product</name>
        <label>Create Product</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Stripe_Price_Book</targetReference>
        </connector>
        <inputReference>Get_Salesforce_Product</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Price_Book_Create</name>
        <label>Price Book Create</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <inputReference>Get_Stripe_Price_Book</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Price_Book_Entry_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Set_Price_Book_Entry_Data</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Stripe_Price_Book.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stripe_Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Stripe_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_Product</name>
        <label>Get Salesforce Product</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Stripe_Product__r.Stripe_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Price_Book</name>
        <label>Get Stripe Price Book</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Stripe_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stripe Demo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Salesforce_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Product__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stripe_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Stripe_Price__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
