Opportunity-Stripe-Invoice/Opportunity-Stripe-Invoice/force-app/main/default/flows/Create_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_customer</name>
        <label>create customer</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>stripeGC__v01_CreateCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Stripe_Customer_ID</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <stringValue>example@example.net</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>Get_Salesforce_Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <actionName>stripeGC__v01_CreateInvoices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>StripeCustomerID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Stripe_Invoice_Items</name>
        <label>Create Stripe Invoice Items</label>
        <locationX>402</locationX>
        <locationY>1574</locationY>
        <actionName>stripeGC__v01_CreateInvoiceitems</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Invoice_Line_Items_for_each_Opportunity_Product</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>StripeCustomerID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>Create_Invoice.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>price</name>
            <value>
                <elementReference>Create_Invoice_Line_Items_for_each_Opportunity_Product.PricebookEntry.Stripe_Price_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quantity</name>
            <value>
                <elementReference>Create_Invoice_Line_Items_for_each_Opportunity_Product.Quantity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Finalize_Invoice</name>
        <label>Finalize Invoice</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <actionName>stripeGC__v01_PostInvoicesFinalize</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Invoice_Data</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>autoAdvance</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>Create_Invoice.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Stripe_Customer</name>
        <label>Get Stripe Customer</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>stripeGC__v01_GetCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Stripe_Customer_ID</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>Get_Salesforce_Account.AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Invoice_Data</name>
        <label>Set Invoice Data</label>
        <locationX>314</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>InvoiceID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Finalize_Invoice.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Finalize_Invoice.hostedInvoiceUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stripe_Customer_ID</name>
        <label>Set Stripe Customer ID</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>StripeCustomerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_customer.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Stripe_ID_to_Account_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stripe_Customer_ID</name>
        <label>Stripe Customer ID</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>StripeCustomerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stripe_Customer.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stripe_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_Salesforce_Account_Have_a_Stipe_ID</name>
        <label>Does the Salesforce Account Have a Stipe ID</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Create_Stripe_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesforce_Account.AccountNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Stripe_Customer</targetReference>
            </connector>
            <label>Yes Has ID</label>
        </rules>
        <rules>
            <name>No_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Salesforce_Account.AccountNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_customer</targetReference>
            </connector>
            <label>No ID</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Invoice</label>
    <loops>
        <name>Create_Invoice_Line_Items_for_each_Opportunity_Product</name>
        <label>Create Invoice Line Items for each Opportunity Product</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Stripe_Invoice_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finalize_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Salesforce_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Invoice_Line_Items_for_each_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_Account</name>
        <label>Get Salesforce Account</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Salesforce_Account_Have_a_Stipe_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Stripe_ID_to_Account_Number</name>
        <label>Add Stripe ID to Account Number</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_Stripe_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Salesforce_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>StripeCustomerID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Create_Stripe_Invoice</name>
        <label>Create Stripe Invoice</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Create Invoice</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>UpdateInvoice</name>
        <label>UpdateInvoice</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Invoice_Update_Data</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Invoice ID:&lt;/strong&gt; {!InvoiceID}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Invoice URL: &lt;/strong&gt;&lt;a href=&quot;{!InvoiceURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;LINK&lt;/strong&gt;&lt;/a&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stripe_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This is the current record ID for the Opportunity we are working on. Set this as an input from LWC.</description>
        <name>CurrentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
