Stripe-Custom-QtC-Demo-new/force-app/main/default/flows/Calculate_Stripe_Tax.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Stripe_Tax_Calculation_API</name>
        <label>Call Stripe Tax Calculation API</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <actionName>stripeGC__AgnosticInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Stripe_Tax_Calculation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>/v1/tax/calculations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>RequestBodyForCallStripeEndpoint</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__AgnosticInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Parse_Stripe_Tax_Calculation</name>
        <label>Parse Stripe Tax Calculation</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>StripeTaxCalculation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Values_From_Stripe_Tax_Calculation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonStrings</name>
            <value>
                <elementReference>Call_Stripe_Tax_Calculation_API</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StripeTaxCalculation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AddItemsToRequestBody</name>
        <label>AddItemsToRequestBody</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RequestBodyForCallStripeEndpoint</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BuildRequestBodyWithLines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Values_From_Stripe_Tax_Calculation</name>
        <label>Get Values From Stripe Tax Calculation</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>TaxAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parse_Stripe_Tax_Calculation.calculation.amount_total</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_StripeCustomer_And_Currency</name>
        <label>Set StripeCustomer And Currency</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Stripe_customer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>cus_QR7dtbft0YBiR3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tax_Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tax_Shipping_Cost_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Tax_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tax_Line_Items</name>
        <label>Set Tax Line Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>StripeTaxLineItem.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeTaxLineItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeTaxLineItem.reference</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>randomIDForLineCalc001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeTaxLineItem.StripeProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>prod_QSHGYCYtGhbzi5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeTaxLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StripeTaxLineItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeTaxLineItem.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3700.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeTaxLineItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeTaxLineItem.reference</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>randomIDForLineCalc002</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeTaxLineItem.StripeProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>prod_QSHGYCYtGhbzi5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StripeTaxLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StripeTaxLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>StartRequestBody</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StartRequestBody</name>
        <label>StartRequestBody</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RequestBodyForCallStripeEndpoint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestBodyNoLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Line_Items</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>BuildRequestBodyWithLines</name>
        <dataType>String</dataType>
        <expression>&apos;&amp; line_items[&apos; + TEXT({!LoopCount}) + &apos;][amount]=&apos; + TEXT({!Build_Line_Items.amount})
+ &apos;&amp; line_items[&apos; + TEXT({!LoopCount}) + &apos;][quantity]=&apos; + {!Build_Line_Items.quantity}
+ &apos;&amp; line_items[&apos; + TEXT({!LoopCount}) + &apos;][reference]=&apos; + {!Build_Line_Items.reference}
+ &apos;&amp; line_items[&apos; + TEXT({!LoopCount}) + &apos;][product]=&apos; + {!Build_Line_Items.StripeProduct}
+ IF({!Build_Line_Items.tax_behavior} &lt;&gt; Null, &apos;&amp; line_items[&apos; + TEXT({!LoopCount}) + &apos;][tax_behavior]=&apos; + {!Build_Line_Items.tax_behavior}, &apos;&apos;)
+ IF({!Build_Line_Items.tax_code} &lt;&gt; Null, &apos;&amp; line_items[&apos; + TEXT({!LoopCount}) + &apos;][tax_code]=&apos; + {!Build_Line_Items.tax_code}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>This is used to call the Call Stripe Endpoint Action. Not the &amp; on each new line these are needed for the action to know where new arguments start.</description>
        <name>RequestBodyNoLines</name>
        <dataType>String</dataType>
        <expression>&apos;currency=&apos; + {!Tax_Currency} 
+ &apos;&amp; customer=&apos; + {!Stripe_customer}
+ &apos;&amp; shipping_cost[amount]=&apos; + TEXT({!Tax_Shipping_Cost_Amount})</expression>
    </formulas>
    <interviewLabel>Calculate Stripe Tax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Stripe Tax</label>
    <loops>
        <name>Build_Line_Items</name>
        <label>Build Line Items</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>StripeTaxLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddItemsToRequestBody</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Stripe_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_Stripe_Tax_Calculation_API</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Is_Live_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_StripeCustomer_And_Currency</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RequestBodyForCallStripeEndpoint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stripe_customer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeTaxLineItem</name>
        <apexClass>StripeTaxLineItems</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StripeTaxLineItems</name>
        <apexClass>StripeTaxLineItems</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tax_Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tax_Shipping_Cost_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TaxAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
