Stripe-Custom-QtC-Demo-new/force-app/main/default/flows/Configure_Embedded_Checkout_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_Publishable_Key</name>
        <label>Copy 1 of Set Publishable Key</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Stripe_Account_rec.Publishable_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_PubKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Publishable_Key</name>
        <label>Set Publishable Key</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Stripe_Account_rec.Publishable_key__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PubKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_DemoConfigOne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Get_Stripe_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Account_rec.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stripe_Account_Has_Publishable_Key_Set</targetReference>
            </connector>
            <label>Outcome 1 of Get Stripe Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stripe_Account_Has_Publishable_Key_Set</name>
        <label>Stripe Account Has Publishable Key Set</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>DemoConfigOne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Account_rec.Publishable_key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DemoConfigTwo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Configure Embedded Checkout Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Configure Embedded Checkout Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Stripe_Account_rec</name>
        <label>Get Stripe Account</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Stripe_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Is_Live_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Account_Configured</targetReference>
        </connector>
        <inputReference>Get_Stripe_Account_rec</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Configured</name>
        <label>Account Configured</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StripeAccount</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Account Already Configured&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stripe Account: &lt;/strong&gt;{!Get_Stripe_Account_rec.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Publishable Key:&lt;/strong&gt; {!Get_Stripe_Account_rec.Publishable_key__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_DemoConfigOne</name>
        <label>DemoConfigNoAccount</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ConfigureDemo1</name>
            <fieldText>&lt;p&gt;Please Add a Stripe Account Before running Configuration &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DemoConfigOne</name>
        <label>DemoConfigOne</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Publishable_Key</targetReference>
        </connector>
        <fields>
            <name>ConfigureDemo1</name>
            <fieldText>&lt;p&gt;This will configure your Demo Environment for the Embedded Checkout Experience.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PubKey</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Enter Your Stripe Accounts Publishable Key</stringValue>
            </defaultValue>
            <fieldText>Publishable Key</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DemoConfigTwo</name>
        <label>DemoConfigTwo</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Set_Publishable_Key</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_ConfigureDemo1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Account Already Configured&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stripe Account:&amp;nbsp;&lt;/strong&gt;{!Get_Stripe_Account_rec.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Publishable Key:&lt;/strong&gt;&amp;nbsp;{!Get_Stripe_Account_rec.Publishable_key__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_PubKey</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Stripe_Account_rec.Publishable_key__c</elementReference>
            </defaultValue>
            <fieldText>Publishable Key</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Change Publishable Key</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stripe_Account_rec</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
