Stripe-Custom-QtC-Demo-new/force-app/main/default/flows/Final_Invoice_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Stripe_Invoice</name>
        <label>Stripe Invoice</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>stripeGC__v01_CastInvoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_invoice</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastInvoice</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>set_invoice_values</name>
        <label>set invoice values</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>get_invoice.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stripe_Customer.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.Amount_Due__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amountdue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.amount_paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amountpaid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.collection_method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.collectionMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.invoice_pdf_url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.invoicePdf</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.payment_hosted_invoice_url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.hostedInvoiceUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.invoice_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.r_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_invoice.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripe_Invoice.r_number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_invoice</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>amountdue</name>
        <dataType>Currency</dataType>
        <expression>{!Stripe_Invoice.amountDue} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>amountpaid</name>
        <dataType>Currency</dataType>
        <expression>{!Stripe_Invoice.amountPaid} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>total</name>
        <dataType>Currency</dataType>
        <expression>{!Stripe_Invoice.total} / 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Final Invoice Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Final Invoice Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_invoice</name>
        <label>get invoice</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Stripe_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StripeID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Stripe_Invoice.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Customer</name>
        <label>Get Stripe Customer</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_invoice_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Stripe_Invoice.customer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_invoice</name>
        <label>update invoice</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputReference>get_invoice</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stripe_Invoice</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice.finalized</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice.payment_succeeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice.updated</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
