Stripe-Custom-QtC-Demo-new/force-app/main/default/flows/Get_or_Create_Stripe_Coupon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Needed_Coupon</name>
        <label>Create Needed Coupon</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <actionName>stripeGC__v01_CreateCoupons</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetCouponID_from_Create</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>CreateDiscountName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>percentOff</name>
            <value>
                <elementReference>PercentOffNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateCoupons</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Stripe_Coupons</name>
        <label>Get Stripe Coupons</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>stripeGC__v01_ListCoupons</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Look_For_Coupon</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_limit</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_ListCoupons</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Coupon_ID</name>
        <label>Set Coupon ID</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CouponID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Look_For_Coupon.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_For_Coupon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCouponID_from_Create</name>
        <label>SetCouponID from Create</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>CouponID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Needed_Coupon.id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Coupon_Was_Found</name>
        <label>Coupon Was Found</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Coupon_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CouponID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Needed_Coupon</targetReference>
            </connector>
            <label>No Coupon Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Coupon_Name</name>
        <label>Does Coupon Name</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Look_For_Coupon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Coupon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_For_Coupon.name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateDiscountName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Coupon_ID</targetReference>
            </connector>
            <label>Found Coupon</label>
        </rules>
    </decisions>
    <description>This Flow will get or create the needed coupon for a Discount % For a Line Item from a Quote</description>
    <environments>Default</environments>
    <formulas>
        <name>CreateDiscountName</name>
        <dataType>String</dataType>
        <expression>{!DiscountPercentage} + &apos; % Off&apos;</expression>
    </formulas>
    <formulas>
        <name>PercentOffNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!DiscountPercentage})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Get or Create Stripe Coupon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get or Create Stripe Coupon</label>
    <loops>
        <name>Look_For_Coupon</name>
        <label>Look For Coupon</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Stripe_Coupons.data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Coupon_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Coupon_Was_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Stripe_Coupons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Is_Live_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stripe_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CouponID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DiscountPercentage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
