Stripe-Custom-QtC-Demo-new/force-app/main/default/flows/Onboard_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_account</name>
        <label>create account</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>stripeGC__v01_CreateAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_account_Link</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>get_stripe_account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessType</name>
            <value>
                <stringValue>individual</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>capabilities</name>
            <value>
                <elementReference>AccountCapabilities</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>individual</name>
            <value>
                <elementReference>inreqs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>express</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateAccounts</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_account_Link</name>
        <label>Create account Link</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>stripeGC__v01_CreateAccountLinks</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Legal_Entity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>create_account.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>get_stripe_account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_collect</name>
            <value>
                <stringValue>eventually_due</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refreshUrl</name>
            <value>
                <stringValue>https://stripe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>returnUrl</name>
            <value>
                <stringValue>https://stripe.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>account_onboarding</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateAccountLinks</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>createaccountcap</name>
        <label>createaccountcap</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AccountCapabilities.transfers.requested</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inreqs.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inreqs.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inreqs.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!Name.firstName} + &apos; &apos; + {!Name.lastName}</expression>
    </formulas>
    <interviewLabel>Onboard account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboard account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Legal_Entity</name>
        <label>Create Legal Entity</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>obl</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Account_ID__c</field>
            <value>
                <elementReference>create_account.id</elementReference>
            </value>
        </inputAssignments>
        <object>LegalEntity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_stripe_account</name>
        <label>get stripe account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createaccountcap</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Is_Live_Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ininfo</name>
        <label>ininfo</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_stripe_account</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>obl</name>
        <label>obl</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>onboard_link</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!Create_account_Link.url}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Example Onboarding&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ininfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCapabilities</name>
        <apexClass>stripeGC__CreateAccountsReqCapabilities</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inreqs</name>
        <apexClass>stripeGC__CreateAccountsReqIndividual</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
