Stripe-Custom-QtC-Demo-new/force-app/main/default/flows/Payout_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateTransfer</name>
        <label>CreateTransfer</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>stripeGC__v01_CreateTransfers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Payout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>$Record.Stripe_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destination</name>
            <value>
                <elementReference>$Record.Legal_Entity__r.Stripe_Account_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <stringValue>usd</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateTransfers</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>amount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.transfer_amount__c} * 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payout Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payout Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Payout</name>
        <label>Update Payout</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>stripe_id__c</field>
            <value>
                <elementReference>CreateTransfer.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>transfer_status__c</field>
            <value>
                <stringValue>Transfered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Legal_Entity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stripe_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>approved__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Stripe_Payout__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>CreateTransfer</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
