Stripe-Custom-QtC-Demo-new/force-app/main/default/flows/Set_Price_Values_and_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <actionName>stripeGC__v01_GetPrices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>$Record.Stripe_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>price</name>
            <value>
                <elementReference>$Record.Stripe_ID__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetPrices</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <actionName>stripeGC__v01_GetProducts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Stripe_Product_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>$Record.Stripe_Account__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Get_Price.product</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetProducts</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Product_Record</name>
        <label>Set Product Record</label>
        <locationX>374</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>Get_Stripe_Product_Record.description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Product_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Product_Record.Stripe_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Product_Record.Stripe_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Product_Record.Stripe_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stripeurl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_a_Product_Record</name>
        <label>Has a Product Record</label>
        <locationX>418</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Update_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Product_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Product_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Stripeurl</name>
        <dataType>String</dataType>
        <expression>&apos;https://dashboard.stripe.com/test/products/&apos; + {!Get_Product.id}</expression>
    </formulas>
    <interviewLabel>Set Price Values and Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Price Values and Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Product_Record</name>
        <label>Create Product Record</label>
        <locationX>374</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Update_Price</targetReference>
        </connector>
        <inputReference>Get_Stripe_Product_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Stripe_Product_Record</name>
        <label>Get Stripe Product Record</label>
        <locationX>418</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_Product_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Price</name>
        <label>Update Price</label>
        <locationX>418</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Stripe_Product__c</field>
            <value>
                <elementReference>Get_Stripe_Product_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Stripe_Price__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Price</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
