Stripe-Custom-QtC-Demo-new/force-app/main/default/flows/Stripe_Customers_Created_Or_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cast_to_Customer</name>
        <label>Cast to Customer</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <actionName>stripeGC__v01_CastCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Stripe_Customer</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastCustomer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Customer_Update_Values</name>
        <label>Customer Update Values</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Address_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Customer.address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Address_Line_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Customer.address.line1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Address_Line_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Customer.address.line2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Address_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Customer.address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Address_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Customer.address.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Customer_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Customer.r_currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Customer_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Customer.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Domain_Suffix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DomainSuffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_to_Customer.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Stripe_Customer.Stripe_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_or_New</name>
        <label>Update or New</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Customer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stripe_Customer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Update_Values</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <description>Runs whenever there is a customer updated or created</description>
    <environments>Default</environments>
    <formulas>
        <name>DomainSuffix</name>
        <dataType>String</dataType>
        <expression>MID(
  {!Cast_to_Customer.email},
  FIND(&quot;@&quot;, {!Cast_to_Customer.email}) + 1,
  LEN({!Cast_to_Customer.email}) - FIND(&quot;@&quot;, {!Cast_to_Customer.email})
)</expression>
    </formulas>
    <interviewLabel>Stripe Customers Created Or Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stripe Customers Created Or Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer</name>
        <label>Create Customer</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Address_City__c</field>
            <value>
                <elementReference>Cast_to_Customer.address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_1__c</field>
            <value>
                <elementReference>Cast_to_Customer.address.line1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Line_2__c</field>
            <value>
                <elementReference>Cast_to_Customer.address.line2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Postal_Code__c</field>
            <value>
                <elementReference>Cast_to_Customer.address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_State__c</field>
            <value>
                <elementReference>Cast_to_Customer.address.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Currency__c</field>
            <value>
                <elementReference>Cast_to_Customer.r_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Email__c</field>
            <value>
                <elementReference>Cast_to_Customer.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domain_Suffix__c</field>
            <value>
                <elementReference>DomainSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Cast_to_Customer.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Account__c</field>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_ID__c</field>
            <value>
                <elementReference>Cast_to_Customer.id</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Stripe_Customer</name>
        <label>Get Stripe Customer</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_or_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cast_to_Customer.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer</name>
        <label>Update Customer</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputReference>Get_Stripe_Customer</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cast_to_Customer</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>customer.created</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>customer.updated</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>customer.deleted</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
