Stripe-Custom-QtC-Demo-new/force-app/main/default/flows/why2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Subscription_Schedule</name>
        <label>Create Subscription Schedule</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>StripeSubscriptionSchedules</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customer</name>
            <value>
                <stringValue>cus_QQ1zme9B3rFkdr</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>SubMetaList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phases</name>
            <value>
                <elementReference>SubPhases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>start_date_now</name>
            <value>
                <stringValue>now</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stripeAccountId</name>
            <value>
                <stringValue>a02O50000076dkDIAQ</stringValue>
            </value>
        </inputParameters>
        <nameSegment>StripeSubscriptionSchedules</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Stripe_Subscription_Schedule</name>
        <label>Update Stripe Subscription Schedule</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>StripeSubscriptionScheduleUpdate</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ammendment_Date_Start</name>
            <value>
                <numberValue>1.725561323E9</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>SubMetaList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phases</name>
            <value>
                <elementReference>SubPhases</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stripeAccountId</name>
            <value>
                <stringValue>a02O50000076dkDIAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscription_schedule_id</name>
            <value>
                <stringValue>sub_sched_1PZCu0FBiKI27fV5yfeEI7Xh</stringValue>
            </value>
        </inputParameters>
        <nameSegment>StripeSubscriptionScheduleUpdate</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Subscript</name>
        <label>Subscript</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>SubLineDiscount.coupon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>lQN8q4di</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item.SubProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1PaEf4FBiKI27fV5JNy5xFjb</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubMeta.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyTest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubMeta.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MyValue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubMetaList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubMeta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item.metadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubMetaList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phases.collection_method</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>send_invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phases.metadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubMetaList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phases.proration_behavior</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>always_invoice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phases.invoice_settings_days_until_due</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phases.start_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.725561323E9</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phases.end_date</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.757097323E9</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item.SubProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>price_1PbSQOFBiKI27fV5liA4is9s</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Item.metadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubMetaList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phases.items</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubPhases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Phases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Schedule</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>New_Schedule</name>
        <label>New Schedule</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Stripe_Subscription_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSub</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Subscription_Schedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>why2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>why2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Subscript</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Item</name>
        <apexClass>StripeSubscriptionScheduleItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSub</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phases</name>
        <apexClass>StripeSubscriptionSchedulePhase</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubItems</name>
        <apexClass>StripeSubscriptionScheduleItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubLineDiscount</name>
        <apexClass>StripeSubscriptionScheduleDiscount</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubMeta</name>
        <apexClass>StripeSubscriptionScheduleMetadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubMetaList</name>
        <apexClass>StripeSubscriptionScheduleMetadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubPhases</name>
        <apexClass>StripeSubscriptionSchedulePhase</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
